[submodule "implementation/eclipse/eclipselink"]
	path = implementation/eclipse/eclipselink
	url = https://github.com/eclipse-ee4j/eclipselink
	branch = 4.0
[submodule "implementation/eclipse/jersey"]
	path = implementation/eclipse/jersey
	url = https://github.com/eclipse-ee4j/jersey
	branch = 3.1
[submodule "implementation/eclipse/mojarra"]
	path = implementation/eclipse/mojarra
	url = https://github.com/eclipse-ee4j/mojarra
	branch = 4.0
[submodule "implementation/eclipse/tyrus"]
	path = implementation/eclipse/tyrus
	url = https://github.com/eclipse-ee4j/tyrus.git
	branch = 2.x
[submodule "implementation/eclipse/wasp"]
	path = implementation/eclipse/wasp
	url = https://github.com/eclipse-ee4j/wasp.git
[submodule "implementation/eclipse/yasson"]
	path = implementation/eclipse/yasson
	url = https://github.com/eclipse-ee4j/yasson.git

[submodule "specification/cdi"]
	path = specification/cdi
	url = https://github.com/jakartaee/cdi
	branch = 4.0
[submodule "specification/expression-language"]
	path = specification/expression-language
	url = https://github.com/jakartaee/expression-language.git
[submodule "specification/faces"]
	path = specification/faces
	url = https://github.com/jakartaee/faces
[submodule "specification/jsonb-api"]
	path = specification/jsonb-api
	url = https://github.com/jakartaee/jsonb-api.git
        branch = 3.0.0-BRANCH
[submodule "specification/jsonp-api"]
	path = specification/jsonp-api
	url = https://github.com/jakartaee/jsonp-api.git
[submodule "specification/pages"]
	path = specification/pages
	url = https://github.com/jakartaee/pages.git
        branch = 3.1.x
[submodule "specification/servlet"]
	path = specification/servlet
	url = https://github.com/jakartaee/servlet.git
        branch = 6.0.0
[submodule "specification/websocket"]
	path = specification/websocket
	url = https://github.com/jakartaee/websocket.git
        branch = 2.1.x

[submodule "specification/authorization"]
	path = specification/authorization
	url = https://github.com/jakartaee/authorization.git
[submodule "specification/authentication"]
	path = specification/authentication
	url = https://github.com/jakartaee/authentication.git
[submodule "specification/activation"]
	path = specification/activation
	url = https://github.com/jakartaee/jaf-api
[submodule "specification/annotation"]
	path = specification/annotation
	url = https://github.com/jakartaee/common-annotations-api
[submodule "specification/batch"]
	path = specification/batch
	url = https://github.com/eclipse-ee4j/batch-api.git
[submodule "specification/validation"]
	path = specification/validation
	url = https://github.com/jakartaee/validation-spec
[submodule "specification/concurrency"]
	path = specification/concurrency
	url = https://github.com/jakartaee/concurrency.git
[submodule "specification/connectors"]
	path = specification/connectors
	url = https://github.com/jakartaee/connectors.git
[submodule "specification/inject"]
	path = specification/inject
	url = https://github.com/jakartaee/inject-spec
[submodule "specification/enterprise-beans"]
	path = specification/enterprise-beans
	url = https://github.com/jakartaee/enterprise-beans
